body{
    background: radial-gradient(lightblue,rgb(255, 117, 90))
}
em{
    color: red;
}
table,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.product {
    background-color: gold;
    width: 300px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

#text {
    color: blue;
    font-weight: bold;
}

a[target="_blank"]{
    color: gold;
}

h1{
    color: dodgerblue;
}

.highlight{
    color: deeppink;
}

#color {
    color: green;
}