/* * {
    box-sizing: border-box; 
} */

p {
    padding: 10px 20px;
    border: 5px solid gold;
}

/* /.box::before{
    content: "Hello";
} */
.box {
    width: 150px;
    height: 150px;
    border: 5px solid gold;
    display: inline-block;
    overflow: auto;
}

