* {
    box-sizing: border-box; 
}

p {
    padding: 10px 20px;
    border: 5px solid gold;
}

.box::before{
    content: "Hello";
}
.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    
}

