body {
    margin: 10px;
    height: 200vh;
}
* {
    box-sizing: border-box; 
} 

/*p {
    padding: 10px 20px;
    border: 5px solid gold;
}

/* /.box::before{
    content: "Hello";
} */

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1;
}
.box {
    width: 150px;
    height: 150px;
    border: 5px solid gold;
    display: inline-block;
    overflow: auto;
}
.boxes {
    border: 3px solid lightgray;
}
.boxx {
    width: 5rem;
    height: 5rem;
}
.box-one{
    background: gold;
}
.box-two {
    background: tomato;
    /*position: fixed; /*เลื่อนตามจอ*/
    top: 0;
    right: 0rem;
    left: 0rem;
    width: auto;
    z-index: 99;  /*คล้าย layer ในโปรแกรมวาดรูป*/

}

.box-three {
    background: dodgerblue;
}


.tweet {
    border: 3px solid lightgray;
    overflow: auto;
}   

.clearfix ::after{
    content: '';
    display: block;
    clear:both ;
}
.avatar{
    width: 5rem;
    height: 5rem;
    background-color: gold;
    float: left;
    margin-right: 0.5rem;
}
.clear {
    clear: left;
}

.container {
    border: 3px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    height: 50vh;
}



.newcontainer {
    display: flex;
    flex-direction: column;
}

.newbox{
    background: gold;
    padding: 1rem;
}

.newbox:nth-of-type(2) {
    background: dodgerblue;
}

@media screen and (min-width : 600px) {
    .newcontainer {
        flex-direction: row;
    }
}